.idea
.vscode
.coverage.txt
frontend/node_modules
frontend/dist
frontend/.cache
.live*
.DS_Store
.testCoverage.txt
.environments
deploy/networks
log/*.log
.env
.backups
.ssh
anchore-reports

.vercel
nohup.out
relayerdb
venv/

smart-contracts/artifacts/