.idea
.vscode
.coverage.txt
frontend/node_modules
frontend/dist
frontend/.cache
.live*
.DS_Store
.testCoverage.txt
.environments
.ruby-version
deploy/networks
log/*.log
.env*
.backups
.ssh
anchore-reports
*.swp

.vercel
nohup.out
relayerdb
venv/

deploy

smart-contracts/combined.log
smart-contracts/yarn-error.log
test/integration/output.json
test/integration/sifchainrelayerdb/*
*.log

dist