replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  #create: true
  annotations: {}
  name: "-=app_name=-"

podSecurityContext: {}
securityContext: {}

image:
  repository: -=docker_image_name=- #sifchain/binance
  pullPolicy: Always
  tag: "-=docker_image_tag=-" #"testnet"

-=app_name=-:
  env:
    updateforce: "force_update_change_this"

persistence:
  enabled: true
  size: 25Gi
  accessMode: ReadWriteOnce

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: -=app_name=-.local
      paths: []
  tls: []

resources:
  requests:
    cpu: 0.5
    memory: 4Gi
  limits:
    memory: 4Gi

strategyType: Recreate

nodeSelector: {}

tolerations: []

affinity: {}
