replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

image:
  repository: sifchain/block-explorer
  pullPolicy: Always
  tag: "testnet"

blockExplorer:
  env:
    rootURL: "http://localhost:3000"
    chainnet: ""
    genesisURL: ""
    remote:
      rpcURL: ""
      lcdURL: ""

mongodb:
  install: true
  mongodbExtraFlags: "--storageEngine=wiredTiger"
  usePassword: false
  persistence:
    enabled: true
    size: 10Gi

service:
  type: LoadBalancer
  port: 80

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: block-explorer.local
      paths: []
  tls: []

resources:
  requests:
    cpu: 1
    memory: 2Gi
  limits:
    memory: 4Gi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
