// reset Button elements
@mixin resetButton {
    background: transparent;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
    outline: 0;
}

@mixin resetLink {
    color: inherit;
    text-decoration: none;
}

@mixin title16 {
    flex-grow: 1;
    text-align: left;
    font-size: 16px;
    color: $c_text;
}

@mixin listAnimation {
    /* animation */
    @keyframes animateIn {
        0% {
            opacity: 0;
            transform: translateX(-1px);
        }
        100% {
            opacity: 1;
        }
    }
    opacity: 0;
    animation: animateIn 150ms ease-out forwards;
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            animation-delay: 30ms * $i + 400ms;
        }
    }
}