// Import fonts:
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"rel="stylesheet");
$f_default: "PT Serif", serif;
$f_special: "Rouge Script", cursive;

// font sizes:
$fs_xs: 10px;
$fs_sm: 12px;
$fs: 14px;
$fs_md: 15px;
$fs_lg: 20px;

$fs_xl: 40px; // Rouge Script titles

// lineheight
$lh: 22px;
$lh_btn: 30px;
