@for $i from 0 through 10 {
    .mt-#{$i} {
        margin-top: $i * 0.1rem;
    }
    .mr-#{$i} {
        margin-right: $i * 0.1rem;
    }
    .mb-#{$i} {
        margin-bottom: $i * 0.1rem;
    }
    .ml-#{$i} {
        margin-left: $i * 0.1rem;
    }
}

@for $i from 0 through 12 {
    .pb-#{$i} {
        padding-bottom: $i * 0.1rem;
    }
    .pt-#{$i} {
        padding-top: $i * 0.1rem;
    }
    .pl-#{$i} {
        padding-left: $i * 0.1rem;
    }
    .pr-#{$i} {
        padding-right: $i * 0.1rem;
    }
}

// text utilities
.text--small {
    font-size: $fs_sm;
    line-height: 14px;
}
.text--left {
    text-align: left;
}

.text--standard {
    font-size: $fs;
}
.text--medium {
    font-size: $fs_md;
}
.text--italic {
    font-style: italic;
}
.text--regular {
    font-style: normal;
}
.text--normal {
    font-weight: normal;
}
.text--bold {
    font-weight: bold;
}


// display
.d-flex, .df {
    display: flex;
}

.fdr {
    flex-direction: row;
}
.w50 {
    width: 50%
}
.w100 {
    width: 100%
}
.j-between, .jcsb {
    justify-content: space-between;
}

.cp { cursor: pointer;}

.rotate-90 { transform: rotate(90deg);}