apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "block-explorer.fullname" . }}
  labels:
    {{- include "block-explorer.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  strategy:
    type: {{ .Values.strategyType }}
  selector:
    matchLabels:
      {{- include "block-explorer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "block-explorer.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "block-explorer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/sh"]
          args: ["-c", "source /vault/secrets/block-explorer && ./docker/entrypoint.sh && cd /opt/bundle/bundle && node main.js"]
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: METEOR_SETTINGS
              valueFrom:
                configMapKeyRef:
                  name: {{ include "block-explorer.fullname" . }}-settings
                  key: settings
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 180
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 180
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
