astroid==2.5.2
attrs==20.3.0
autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
docopt==0.6.2
idna==2.10
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==20.9
pipreqs==0.4.10
pluggy==0.13.1
py==1.10.0
pycallgraph==1.0.1
pycodestyle==2.7.0
pylint==2.7.4
pyparsing==2.4.7
pytest==6.2.3
PyYAML==5.4.1
requests==2.25.1
toml==0.10.2
urllib3==1.26.4
wrapt==1.12.1
yarg==0.1.9
