[Unit]
Description="sifchain node %I"
After=network-online.target

[Service]
User=sif
ExecStart=/home/sif/testnet/sifnode/sifnoded.sh %i
Restart=always
RestartSec=15
LimitNOFILE=4096
# SyslogIdentifier=sifnoded-%i
StandardOutput=append:/home/sif/testnet/sifnode/%i/sifnoded.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
