apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sifnode-api.fullname" . }}
  labels:
    {{- include "sifnode-api.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "sifnode-api.selectorLabels" . | nindent 6 }}
  strategy:
    type: {{ .Values.strategyType }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "sifnode-api.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "sifnode-api.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/sh"]
          args: ["-c", "sifnoded rest-server --unsafe-cors --laddr tcp://0.0.0.0:1317 --node {{ .Values.sifnodeApi.args.nodeHost }} --trust-node"]
          ports:
            - name: port-1317
              containerPort: 1317
          livenessProbe:
            tcpSocket:
              port: 1317
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 1317
            initialDelaySeconds: 15
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
