replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

image:
  repository: sifchain/sifnoded
  pullPolicy: Always
  tag: "testnet"

sifnode:
  env:
    chainnet:
    moniker:
    genesisURL:
    peerAddress:
    mnemonic: ""
  service:
    type: LoadBalancer

sifnodecli:

service:
  type: LoadBalancer
  port: 26656

persistence:
  enabled: true
  size: 500Gi
  accessMode: ReadWriteOnce

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: sifnode.local
      paths: []
  tls: []

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
