replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

image:
  repository: sifchain/sifnoded
  pullPolicy: Always
  tag: "testnet"

sifnode:
  args:
    mnemonic: ""
    genesisURL:
    mintAmount: "999999000000000000000000000rowan"
    bondAmount: "1000000000000000000000rowan"
    peerAddress:
    adminCLPAddresses: ""
    adminOracleAddress: ""
    minimumGasPrices: "0.5rowan"
    govMaxDepositPeriod: "10800000000000"
    govVotingPeriod: "10800000000000"
    enableRPC: false
  env:
    daemonHome: "/root/.sifnoded"
    daemonName: "sifnoded"
    daemonAllowDownloadBinaries: true
    daemonRestartAfterUpgrade: true
    chainnet:
    moniker:

service:
  type: LoadBalancer
  port: 26656

persistence:
  enabled: true
  size: 500Gi
  accessMode: ReadWriteOnce

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: sifnode.local
      paths: []
  tls: []

resources:
  requests:
    cpu: 1
    memory: 2Gi
  limits:
    memory: 4Gi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

strategyType: Recreate

nodeSelector: {}

tolerations: []

affinity: {}
