name: Feature build and deploy

on:
  push:
    branches:
      - 'feature/*'
      - 'bugfix/*'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2.3.4

      - name: Git vars
        id: vars
        shell: bash
        run: |
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          make CHAINNET=testnet IMAGE_TAG=${{ steps.vars.outputs.sha_short }} BINARY=sifnoded build-image

      - name: Push image
        run: |
          docker push sifchain/sifnoded:${{ steps.vars.outputs.sha_short }}
