name: Golang CI

on: [pull_request]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: v1.45.2
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build
        run: make install

      - name: Test
        run: |
          go test -v ./... -coverprofile=coverage.txt -covermode=atomic -coverpkg $(go list ./... | grep -v test | tr "\n" ",")
          excludelist="$(find ./ -type f -name '*.go' | xargs grep -l 'DONTCOVER')"
          for filename in ${excludelist}; do
            filename=$(echo $filename | sed 's/^../github.com\/Sifchain\/sifnode/g')
            echo "Excluding ${filename} from coverage report..."
            sed -i.bak "/$(echo $filename | sed 's/\//\\\//g')/d" coverage.txt
          done

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.txt
          verbose: true

  feature-toggle-margin-cli-alpha:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build
        run: FEATURE_TOGGLE_MARGIN_CLI_ALPHA=1 make install

      - name: Test
        run: |
          go test -tags "FEATURE_TOGGLE_MARGIN_CLI_ALPHA" -v ./... -coverprofile=coverage.txt -covermode=atomic -coverpkg $(go list ./... | grep -v test | tr "\n" ",")
          excludelist="$(find ./ -type f -name '*.go' | xargs grep -l 'DONTCOVER')"
          for filename in ${excludelist}; do
            filename=$(echo $filename | sed 's/^../github.com\/Sifchain\/sifnode/g')
            echo "Excluding ${filename} from coverage report..."
            sed -i.bak "/$(echo $filename | sed 's/\//\\\//g')/d" coverage.txt
          done

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.txt
          verbose: true
