name: Golang CI

on: [pull_request]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.3.0
        with:
          version: v1.31
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: make install

    - name: Test
      run: |
        go test -v ./... -coverprofile=coverage.txt -covermode=atomic
        excludelist="$(find ./ -type f -name '*.go' | xargs grep -l 'DONTCOVER')"
        for filename in ${excludelist}; do
          filename=$(echo $filename | sed 's/^../github.com\/Sifchain\/sifnode/g')
          echo "Excluding ${filename} from coverage report..."
          sed -i.bak "/$(echo $filename | sed 's/\//\\\//g')/d" coverage.txt
        done

    - name: Upload coverage report
      uses: codecov/codecov-action@v1.5.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.txt
        flags: server
        verbose: true