name: Run integration tests 1
on:
  push:
    paths-ignore:
      - "ui/**"

jobs:
  test:
    timeout-minutes: 45
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: Sifchain/sifchain-devops
          path: deploy
          token: "${{ secrets.GIT_PAT }}"

      - name: Set up linux environment
        run: # installs development tools and updates .bash_profile
          bash test/integration/setup-linux-environment.sh

      - name: Clean
        run: make clean

      - name: Unit test
        run: |
          source ~/.bash_profile
          make install && make tests

      - name: Start standalone peggy
        run: |
          source ~/.bash_profile
          export PATH=./test/integration/framework/venv/bin/python3:$PATH
          ./test/integration/framework/siftool run-env

      # This sleep is needed for the tests to work
      - name: Run integration tests
        run: |
          source ~/.bash_profile
          sleep 30
          pushd test/integration && framework/venv/bin/python3 -m pytest -olog_level=DEBUG -olog_file=/tmp/int-test.out -v src/peggy2/test_sifnode_transfers.py

      - name: Archive logs from test
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: testlogs1
          path: test/integration
