name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: Sifchain/sifchain-deploy
          path: deploy
          token: "${{ secrets.GIT_PAT }}"

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v2.x

      - if: contains(github.ref, 'devnet')
        run: |
          echo "CHAINNET=testnet" >> "$GITHUB_ENV"

      - if: contains(github.ref, 'testnet')
        run: |
          echo "CHAINNET=testnet" >> "$GITHUB_ENV"

      - if: contains(github.ref, 'betanet')
        run: |
          echo "CHAINNET=betanet" >> "$GITHUB_ENV"

      - if: contains(github.ref, 'mainnet')
        run: |
          echo "CHAINNET=mainnet" >> "$GITHUB_ENV"

      - name: Build docker images
        run: |
          echo ${{ env.CHAINNET }}
          make CHAINNET=${{ env.CHAINNET }} IMAGE_TAG=${{ env.GITHUB_REF_SLUG }} BINARY=sifnoded build-image
          make CHAINNET=${{ env.CHAINNET }} IMAGE_TAG=${{ env.GITHUB_REF_SLUG }} BINARY=ebrelayer build-image

      - name: Push docker images
        run: |
          docker push sifchain/sifnoded:${{ env.GITHUB_REF_SLUG }}
          docker push sifchain/ebrelayer:${{ env.GITHUB_REF_SLUG }}

      - name: Release a new sifnoded binary
        uses: ./deploy/release
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: linux
          goarch: amd64
          goversion: "https://dl.google.com/go/go1.15.1.linux-amd64.tar.gz"
          project_path: "./cmd/sifnoded"
          binary_name: "sifnoded"
          sha256sum: true
