name: Smart Contracts

on:
  pull_request:
    paths: ['smart-contracts/**']

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: smart-contracts

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2.4.0
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install

      - name: Install truffle
        run: npm i -g truffle

      - name: Test Setup
        run: npm run test:setup

      - name: Run truffle tests
        run: npm run test
