name: Smart Contracts

on:
  pull_request:
    paths: ['smart-contracts']
  push:
    paths: ['smart-contracts']

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: smart-contracts

    steps:
      - name: Check out code
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --silent
        env:
          CI: true

      - name: Install truffle
        run: yarn global add truffle

      - name: Run truffle tests
        run: truffle test
