name: Frontend compatability testing

on:
  push:
    branches:
      # Here we list all branches that will build ui-stack when merged to
      # Feel free to add feature branches for work in progress testing
      # However once features are shipped this should be updated
      - develop
      - master
      - testnet
      - feature/cosmos-0.42
      - feature/cosmos-0.42-/bad-merge

jobs:
  build_ui_stack:
    name: Build UI Stack Docker Image

    defaults:
      run:
        working-directory: ui

    runs-on: ubuntu-latest

    steps:
      - name: Check out sifnode
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "14.x"

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go

      - name: Log into registry
        run: echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Get dependencies
        run: |
          cd .. && go get -v -t -d ./...

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache Node.js modules
        id: yarn-cache
        uses: actions/cache@v2.1.3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile --silent

      - name: Build ui-stack dependencies
        run: yarn build

      - name: Build databases for docker state
        run: yarn stack --save-snapshot

      - name: Build and push docker image
        run: yarn stack --push
        env:
          CI: true

  test_ui_repo:
    name: Test sifnode against UI
    needs: build_ui_stack
    defaults:
      run:
        working-directory: ui

    runs-on: ubuntu-latest
    steps:
      - name: Check out sifnode
        uses: actions/checkout@v2

      - name: Save commit hash to env var
        run: echo "SIFNODE_COMMIT_SHA=$GITHUB_SHA" >> $GITHUB_ENV

      - name: Remove node_modules
        run: rm -rf node_modules

      - name: Check out sifchain-ui
        uses: actions/checkout@v2
        with:
          repository: "Sifchain/sifchain-ui"
          ref: "develop" # TODO: change to master once we have something deployed on the frontend
          token: ${{ secrets.GHCR_TOKEN }}

      - name: Log into registry
        run: echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Pull instant stack image
        run: docker pull ghcr.io/sifchain/sifnode/ui-stack:$SIFNODE_COMMIT_SHA

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path-2
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache Node.js modules
        id: yarn-cache-2
        uses: actions/cache@v2.1.3
        with:
          path: ${{ steps.yarn-cache-dir-path-2.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile --silent

      - uses: microsoft/playwright-github-action@v1

      - name: Build e2e App
        run: cd e2e && yarn install --frozen-lockfile

      - name: Run e2e Tests
        run: yarn build --tag $SIFNODE_COMMIT_SHA && yarn e2e --tag $SIFNODE_COMMIT_SHA
        env:
          CI: true
