name: Deploy UI to Vercel
# run run on pull request into develop (feature/fixes)
on: 
  push:
    branches:
      - '!develop'
      - '!testnet'
      - '!master'
    paths: 
      - 'ui/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: amondnet/vercel-action@v20
        with:
          scope: ${{ secrets.TEAM_ID }}
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID}}
          vercel-project-id: ${{ secrets.PROJECT_ID}}
          working-directory: .
          alias-domains: |
           {{BRANCH}}.sifchain.vercel.app